@import "tailwindcss";

:root {
  --background: hsl(238, 27%, 12%);
  --foreground: #171717;
}

@theme {
  --font-bold-arabic: "IBM-Plex-Sans-Arabic-Bold", Helvetica, sans-serif;
  --font-extra-light-arabic: "IBM-Plex-Sans-Arabic-ExtraLight", Helvetica,
    sans-serif;
  --font-light-arabic: "IBM-Plex-Sans-Arabic-Light", Helvetica, sans-serif;
  --font-medium-arabic: "IBM-Plex-Sans-Arabic-Medium", Helvetica, sans-serif;
  --font-regular-arabic: "IBM-Plex-Sans-Arabic-Regular", Helvetica, sans-serif;
  --font-semi-bold-arabic: "IBM-Plex-Sans-Arabic-SemiBold", Helvetica,
    sans-serif;
  --font-text-arabic: "IBM-Plex-Sans-Arabic-Text", Helvetica, sans-serif;
  --font-thin-arabic: "IBM-Plex-Sans-Arabic-Thin", Helvetica, sans-serif;
  --color-white-25: rgba(255, 255, 255, 0.25);
  --color-black-40: rgba(0, 0, 0, 0.4);
  --color-dark-blue-98: hsla(234, 28%, 12%, 0.98);
  --background-image-gradient-blue: linear-gradient(
    to bottom,
    #40678c,
    #2c5378
  );
}

@font-face {
  font-family: "IBM-Plex-Sans-Arabic-Bold";
  src: url("/fonts/IBMPlexSansArabic-Bold.otf");
}

@font-face {
  font-family: "IBM-Plex-Sans-Arabic-ExtraLight";
  src: url("/fonts/IBMPlexSansArabic-ExtraLight.otf");
}

@font-face {
  font-family: "IBM-Plex-Sans-Arabic-Light";
  src: url("/fonts//IBMPlexSansArabic-Light.otf");
}

@font-face {
  font-family: "IBM-Plex-Sans-Arabic-Medium";
  src: url("/fonts/IBMPlexSansArabic-Medium.otf");
}

@font-face {
  font-family: "IBM-Plex-Sans-Arabic-Regular";
  src: url("/fonts/IBMPlexSansArabic-Regular.otf");
}

@font-face {
  font-family: "IBM-Plex-Sans-Arabic-SemiBold";
  src: url("/fonts/IBMPlexSansArabic-SemiBold.otf");
}

@font-face {
  font-family: "IBM-Plex-Sans-Arabic-Text";
  src: url("/fonts/IBMPlexSansArabic-Text.otf");
}

@font-face {
  font-family: "IBM-Plex-Sans-Arabic-Thin";
  src: url("/fonts/IBMPlexSansArabic-Thin.otf");
}

body,
html {
  background: var(--background);
  color: white;
  font-family: "IBM-Plex-Sans-Arabic-Regular", Helvetica, sans-serif;
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
